{% extends 'base.html' %} {% block content %}
<div class="pt-4 container">
  <h1 class="mb-3">{% block title %} Our Analysis {% endblock %}</h1>
  <p>
    We are using computer vision apis from Azure Coginitive Services to derive
    the results!
  </p>
  <div class="image-results">
    <div class="row each-result">
      <div class="col-md-2 border-right">Original Image</div>
      <div class="col-md-8">
        <img height="150" src="{{path}}" alt="{{filename}}" />
      </div>
    </div>
    <div class="row each-result">
      <div class="col-md-2 border-right">Color</div>
      <div class="col-md-8">{{color}}</div>
    </div>
    <div class="row each-result">
      <div class="col-md-2 border-right">Description</div>
      <div class="col-md-8">{{description}}</div>
    </div>
    <div class="row each-result">
      <div class="col-md-2 border-right">Tags</div>
      {% for tag in tags %}
      <div class="col-md-8">{{tag}}</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
