{% extends 'base.html' %} {% block content %}
<div class="pt-4 container">
  <h1 class="mb-3">{% block title %} Our Analysis {% endblock %}</h1>
  <p>
    We are using computer vision apis from Azure Coginitive Services to derive
    the results, and yolo v3.0 to do object detection!
  </p>
  <div class="image-results">
    <div class="row each-result">
      <div class="col-md-2 border-right">Original Image</div>
      <div class="col-md-8">
        <img height="150" src="{{path}}" alt="{{filename}}" />
      </div>
    </div>
    <div class="row each-result">
      <div class="col-md-2 border-right">Color</div>
      <div class="col-md-8">{{color}}</div>
    </div>
    <div class="row each-result">
      <div class="col-md-2 border-right">Description</div>
      <div class="col-md-8">{{description}}</div>
    </div>
    <div class="row each-result">
      <div class="col-md-2 border-right">Tags</div>
      <div class="col-md-8">
        {% for tag in tags %}
        <div class="d-flex">
          <div>{{tag.name}}</div>
          <div>&nbsp;|&nbsp;</div>
          <div class="">{{'%0.2f' % (tag.confidence * 100)|float}}%</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row each-result">
      <div class="col-md-2 border-right">Object Detection</div>
      <div class="col-md-8">
        <img width="100%" src="{{detectionPath}}" alt="{{filename}}" />
      </div>
    </div>
  </div>
</div>
{% endblock %}